Repository smarlhens/svelte3-web-component-button: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run --silent eslint:fix, npm run prettier:write

.lintstagedrc:

{
  "./**/*.svelte": ["npm run --silent eslint:fix"],
  "./**/*.{js,css,scss,html,json,*rc,svelte}": ["npm run prettier:write"]
}

feat(app): add storybook, windi & create custom button
  .circleci/config.yml
  .eslintrc
  .eslintrc.js
  .gitignore
  .storybook/main.js
  .storybook/preview.js
  .travis.yml
  README.md
  package-lock.json
  package.json
  public/global.css
  public/index.html
  rollup.config.js
  src/App.svelte
  src/components/custom-button/CustomButton.svelte
  src/components/index.ts
  src/index.ts
  src/main.js
  src/stories/CustomButton.stories.svelte
  tsconfig.json
  windi.config.ts
Due: npm run --silent eslint:fix, npm run prettier:write

fix(eslint): config
  .eslintrc.js
  .lintstagedrc
  package-lock.json
  package.json
  src/components/custom-button/CustomButton.svelte
  windi.config.js
Due: npm run --silent eslint:fix, npm run prettier:write

style(prettier): fix
  .prettierrc
  .storybook/main.js
  .storybook/preview.js
Due: npm run prettier:write

Update README.md
  README.md
Due: none

ci(gh-pages): add job to build & deploy storybook
  .eslintignore
  .github/workflows/storybook.yml
  .prettierignore
  .storybook/main.js
  stories/CustomButton.stories.svelte
  tsconfig.json
Due: npm run --silent eslint:fix, npm run prettier:write

fix(storybook): build w/o postcss
  .github/workflows/storybook.yml
  .storybook/main.js
  package-lock.json
  src/stories/CustomButton.stories.svelte
  tsconfig.json
Due: npm run --silent eslint:fix, npm run prettier:write

Deploying to main from @ smarlhens/svelte3-web-component-button@b37ba7657e2d8400c82e641170cdae6e0ea6365c 🚀
  docs/0.423d4743037a07c9f32a.manager.bundle.js
  docs/0.e0dc711c.iframe.bundle.js
  docs/4.0604d488395f4d6aa4fd.manager.bundle.js
  docs/4.0604d488395f4d6aa4fd.manager.bundle.js.LICENSE.txt
  docs/4.fe299ca6.iframe.bundle.js
  docs/4.fe299ca6.iframe.bundle.js.LICENSE.txt
  docs/4.fe299ca6.iframe.bundle.js.map
  docs/5.8905dcb236c61b8afaab.manager.bundle.js
  docs/5.b31aa22a.iframe.bundle.js
  docs/6.7e4902f2.iframe.bundle.js
  docs/6.7e4902f2.iframe.bundle.js.LICENSE.txt
  docs/6.7e4902f2.iframe.bundle.js.map
  docs/6.ffc0a5838c64ff2f8c72.manager.bundle.js
  docs/6.ffc0a5838c64ff2f8c72.manager.bundle.js.LICENSE.txt
  docs/7.25d12b56.iframe.bundle.js
  docs/7.7b03bf361c01fabf9b6b.manager.bundle.js
  docs/8.4cbb23c2cdeb37b523a1.manager.bundle.js
  docs/favicon.ico
  docs/iframe.html
  docs/index.html
  docs/main.09b28d47.iframe.bundle.js
  docs/main.9107608f7ac409fb9a5a.manager.bundle.js
  docs/runtime~main.391589d6.iframe.bundle.js
  docs/runtime~main.d77b9c19a077c25a37bc.manager.bundle.js
  docs/vendors~main.3b803e4b.iframe.bundle.js
  docs/vendors~main.3b803e4b.iframe.bundle.js.LICENSE.txt
  docs/vendors~main.3b803e4b.iframe.bundle.js.map
  docs/vendors~main.8785459afc48f7a71fea.manager.bundle.js
  docs/vendors~main.8785459afc48f7a71fea.manager.bundle.js.LICENSE.txt
Due: npm run prettier:write

fix(storybook): option in job
  .github/workflows/storybook.yml
Due: none

refactor(lint): do not lint docs
  .eslintignore
  .prettierignore
Due: none

chore(deps): update dependency @rollup/plugin-commonjs to v19.0.1
  package-lock.json
  package.json
Due: npm run prettier:write

chore(deps): update dependency @rollup/plugin-node-resolve to v13.0.2
  package-lock.json
  package.json
Due: npm run prettier:write

chore(deps): update dependency @rollup/plugin-typescript to v8.2.3
  package-lock.json
  package.json
Due: npm run prettier:write

chore(deps): update dependency rollup to v2.53.2
  package-lock.json
  package.json
Due: npm run prettier:write

chore(deps): update dependency eslint to v7.31.0
  package-lock.json
  package.json
Due: npm run prettier:write

chore(deps): update typescript-eslint monorepo to v4.28.4
  package-lock.json
  package.json
Due: npm run prettier:write

chore(deps): update dependency @babel/core to v7.14.8
  package-lock.json
  package.json
Due: npm run prettier:write

chore(deps): update dependency rollup to v2.53.3
  package-lock.json
  package.json
Due: npm run prettier:write

chore(deps): update dependency svelte to v3.40.0
  package-lock.json
  package.json
Due: npm run prettier:write

chore(deps): update dependency svelte to v3.40.1
  package-lock.json
  package.json
Due: npm run prettier:write

chore(deps): update storybook monorepo to v6.3.5
  package-lock.json
  package.json
Due: npm run prettier:write

chore(deps): update dependency svelte to v3.40.2
  package-lock.json
  package.json
Due: npm run prettier:write

chore(deps): update dependency lint-staged to v11.1.0
  package-lock.json
  package.json
Due: npm run prettier:write

chore(deps): update dependency @rollup/plugin-node-resolve to v13.0.4
  package-lock.json
  package.json
Due: npm run prettier:write

chore(deps): update dependency lint-staged to v11.1.1
  package-lock.json
  package.json
Due: npm run prettier:write
