Repository smarlhens/svelte3-web-component-button: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run eslint:fix, npm run prettier:write

chore(deps): update actions/setup-node action to v3
  .github/workflows/ci.yml
  .github/workflows/storybook.yml
Due: none

chore(deps): update dependency rollup to v2.68.0
  package-lock.json
  package.json
Due: npm run prettier:write

chore(deps): update dependency eslint-config-prettier to v8.5.0
  package-lock.json
  package.json
Due: npm run prettier:write

chore(deps): update dependency windicss-webpack-plugin to v1.6.7
  package-lock.json
  package.json
Due: npm run prettier:write

chore(deps): update dependency rollup to v2.69.1
  package-lock.json
  package.json
Due: npm run prettier:write

chore(deps): update dependency rollup to v2.70.0
  package-lock.json
  package.json
Due: npm run prettier:write

chore(deps): update dependency typescript to v4.6.2
  package-lock.json
  package.json
Due: npm run prettier:write

chore(deps): update actions/checkout action to v3
  .github/workflows/ci.yml
  .github/workflows/storybook.yml
Due: none

chore(deps): update dependency @rollup/plugin-commonjs to v21
  package-lock.json
  package.json
Due: npm run prettier:write

chore(deps): update babel monorepo
  package-lock.json
  package.json
Due: npm run prettier:write

chore(deps): update dependency ansi-regex [security]
  package-lock.json
Due: npm run prettier:write

chore(deps): update dependency hosted-git-info to 2.8.9 [security]
  package-lock.json
Due: npm run prettier:write

chore(deps): update dependency path-parse to 1.0.7 [security]
  package-lock.json
Due: npm run prettier:write

chore(deps): update dependency prismjs to 1.27.0 [security]
  package-lock.json
Due: npm run prettier:write

chore(deps): update dependency lint-staged to v12
  package-lock.json
  package.json
Due: npm run prettier:write

chore(deps): update dependency svelte-windicss-preprocess to v4.2.8
  package-lock.json
  package.json
Due: npm run prettier:write

chore(deps): update dependency trim to 0.0.3 [security]
  package-lock.json
  package.json
Due: npm run prettier:write

fix(npm): lock file to latest version
  package-lock.json
  package.json
Due: npm run prettier:write

chore: update deps
  .commitlintrc.json
  .github/workflows/ci.yml
  .github/workflows/storybook.yml
  .lintstagedrc
  .lintstagedrc.json
  .prettierrc.json
  .storybook/main.js
  package-lock.json
  package.json
  renovate.json
  rollup.config.js
  src/components/custom-button/CustomButton.svelte
  src/global.d.ts
Due: npm run eslint:fix, npm run prettier:write

refactor: move docs do gh-pages branch
  docs/0.423d4743037a07c9f32a.manager.bundle.js
  docs/0.e0dc711c.iframe.bundle.js
  docs/4.0604d488395f4d6aa4fd.manager.bundle.js
  docs/4.0604d488395f4d6aa4fd.manager.bundle.js.LICENSE.txt
  docs/4.fe299ca6.iframe.bundle.js
  docs/4.fe299ca6.iframe.bundle.js.LICENSE.txt
  docs/4.fe299ca6.iframe.bundle.js.map
  docs/5.8905dcb236c61b8afaab.manager.bundle.js
  docs/5.b31aa22a.iframe.bundle.js
  docs/6.7e4902f2.iframe.bundle.js
  docs/6.7e4902f2.iframe.bundle.js.LICENSE.txt
  docs/6.7e4902f2.iframe.bundle.js.map
  docs/6.ffc0a5838c64ff2f8c72.manager.bundle.js
  docs/6.ffc0a5838c64ff2f8c72.manager.bundle.js.LICENSE.txt
  docs/7.25d12b56.iframe.bundle.js
  docs/7.7b03bf361c01fabf9b6b.manager.bundle.js
  docs/8.4cbb23c2cdeb37b523a1.manager.bundle.js
  docs/favicon.ico
  docs/iframe.html
  docs/index.html
  docs/main.09b28d47.iframe.bundle.js
  docs/main.9107608f7ac409fb9a5a.manager.bundle.js
  docs/runtime~main.391589d6.iframe.bundle.js
  docs/runtime~main.d77b9c19a077c25a37bc.manager.bundle.js
  docs/vendors~main.3b803e4b.iframe.bundle.js
  docs/vendors~main.3b803e4b.iframe.bundle.js.LICENSE.txt
  docs/vendors~main.3b803e4b.iframe.bundle.js.map
  docs/vendors~main.8785459afc48f7a71fea.manager.bundle.js
  docs/vendors~main.8785459afc48f7a71fea.manager.bundle.js.LICENSE.txt
Due: npm run prettier:write

docs(readme): update
  README.md
Due: none

docs: typos & enhance usage section
  README.md
Due: none

docs: add known issues section
  README.md
Due: none

Path conditions:
  npm run eslint:fix: any of: ./**/*.{svelte,ts}
  npm run prettier:write: any of: ./**/*.{ts,js,css,scss,html,json,*rc,svelte}
